.container {
  margin: 20px;
  padding: 20px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.id {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.date,
.time {
  font-weight: 300;
  font-size: 18px;
  color: gray;
  text-align: right;
  padding-right: 10px;
  gap: 10px;
  margin-bottom: 10px;
}

.time {
  margin-left: 10px;
}

.note {
  border-top: 1px dashed gray;
  padding: 20px;
}
